.item {
  display: flex;
  align-items: center;
  padding-right: 8px;
  gap: 8px;
  background-color: #bed7dbf6;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.avatar {
  padding-top: 4px;
  padding-bottom: 4px;
}

.name {
  margin-right: auto;
  font-weight: 700;
}

.onLine {
  margin-left: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #114c0e;
}

.offLine {
  margin-left: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgb(218, 28, 57);
}